# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
/dist/
/build/
*.log
venv/
.env
.DS_Store
.idea/
.vscode/
*~
*.swp
.ipynb_checkpoints
# nltk_data/  # Uncomment if you use a local nltk_data folder

